<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./js/main.js"></script>
    <title>Cunsol</title>
</head>
<body>
<!-- Nav bar -->

<nav class="bg-pink-900 p-4">
    <div class="max-w-screen-lg mx-auto flex items-center">
      <!-- Logo or site title -->
      <div>
        <a href="#" class="text-white text-lg font-bold">Cunsol</a>
      </div>

      <!-- Navigation links -->
      <div class="ml-auto space-x-4">
        <a href="#" class="text-white left-align">Home</a>
        <a href="#" class="text-white left-align">About</a>
        <a href="#" class="text-white left-align">Services</a>
        <a href="#" class="text-white left-align">Contact</a>
      </div>
    </div>
  </nav>
<!--  -->
<div class="max-w-screen-lg mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-4">Services</h1>
    <div class="overflow-x-auto" id="app">
      </div>
</div>
</body>
</html>